<!-- Login Modal -->
<div class="modal" id="loginModal">
  <div class="login-outer-box">
    <div class="login-box">
      <h2 class="login-title">Login</h2>
      <hr />
      <form id="loginForm">
        <label for="email">Email</label>
        <input
          type="email"
          id="loginEmail"
          placeholder="Enter your email"
          required
        />
        <label for="password">Password</label>
        <input
          type="password"
          id="loginPassword"
          placeholder="Enter your password"
          required
        />
        <p id="loginError" style="margin-top: 10px"></p>
        <button type="submit">Login</button>
      </form>
      <div class="login-links">
        <p>Don't have an account? <a href="/register">Register here</a></p>
        <p>Forgot Password? <a href="#">Recover Password</a></p>
      </div>
    </div>
  </div>
</div>
